
<main class="mdl-layout__content">
<div class="mdl-grid">
<div class="mdl-cell mdl-cell--1-col"></div>
<div class="mdl-cell mdl-cell--7-col">
<% var title ;  
 if (page.category) 
	title=page.category;
if (page.tag) 
	title=page.tag;
 %>

<h3 class="article-head">
<% if (page.category){ %>
 	<i class="fa fa-archive"></i>
 <%	} %>
<% if (page.tag){ %>
	<i class="fa fa-tags"></i>
 <% } %>

&nbsp;<%= title %></h3>

<div class="archive-cont">
	<ul>
		<% page.posts.each(function(item){ %>
			<%- partial('_partial/article',{item:item, index:true }) %>
		<% }) %>
	</ul>
</div>
</div>
<div class="mdl-cell mdl-cell--3-col">
          <%- partial('_partial/widgets') %>
      </div>
</div>
<div class="mdl-cell mdl-cell--1-col"></div>
</div>
</main>