<!DOCTYPE >
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/2.2.0/iconfont/material-icons.css">
  <link rel="stylesheet" type="text/css" href="<%- config.root %>css/base/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-lite/1.1.1/material.min.css">
   <link rel="stylesheet" href="<%- config.root %>css/style.css" />
  <script defer src="https://cdn.bootcss.com/material-design-lite/1.1.1/material.min.js"></script>
  <script type="text/javascript" src="<%- config.root %>js/totop.js"></script>


 <% if(config.title){ %>
      <title><%= config.title %></title> 
    <% }else{ %>
      <title>hexo</title>
    <% } %>
</head>
