.archive-title
	color titleColor
	padding-top 30px
	padding-left 135px
	margin 0px

.archive-title .fa 
	position relative
	left -15px	

.archive-cont 
	padding 20px 120px
	li
		padding 0px 20px


.archive-lis
	box-sizing border-box
	color titleColor
	border-bottom 1px solid #ccc
	&:hover
		border-bottom 2px solid #333
		color hoverColor
		a
			color hoverColor

.archive-lis-time
	float right
	position relative


.archive-lis h3 
	position relative 
	a
		color titleColor