
.article
	font-family Font
	color fontcolor
	margin 30px auto 180px
	padding 20px 50px
	border 1px solid #ccc
	box-shadow 2px 2px 2px #ccc inset


.article-head
	margin-bottom 10px

.article-cont
	margin-top 25px
.article-cont p
	font-size 20px	
.picture 
	height 338px 
	background: url(img/m1.jpg) center / cover

.tag 
	display inline-block

.share	p
	float left
.share a
	margin-top 0px

.article-share
	box-sizing border-box
	background-color #e0e0e0
	margin-top 50px 
	padding 5px 30px
	height 40px
	color titleColor

.article-category, .article-tags
	float left
.article-category ul
	font-size 20px


.baidu-share
	float right
	p
		font-size 20px
		margin-bottom 0px