.mdl-layout__content 
	width 100%

.demo-card-wide.mdl-card  
	width 90% 
	margin 30px auto
.demo-card-wide > .mdl-card__title 
	color  #fff 
	height 176px 
	background url(img/m1.jpg) center / cover
.demo-card-wide > .mdl-card__title  a
	color yellow

.mdl-card__supporting-text	p
	margin 0px
	font-size 15px

.md-tag 
	color themecolor	
.post-tag 
	float right
	height 36px
	padding 0px 10px
.post-tag ul li
	display inline-block
	line-height 36px
	font-size 16px
	padding 0px 5px

.mdl-button.mdl-button--colored
	color themecolor
	font-weight bold

