
.demo-card-wide > .mdl-card__menu  
	color #fff 
 
.mdl-layout__header 
	background-color themecolor
	height 130px
	padding 10px 
	font-family Font

.mdl-layout-title
	display block
	font-size 48px

.subtitle
	box-sizing border-box
	height 40px 
	font-size 18px 
	letter-spacing  0.03em 
	margin 0px 0px 0px 20px
	padding 0px 20px 

.mdl-navigation__link
	font-size 18px

.mdl-layout__drawer-button
	box-sizing border-box
	padding 15px 10px
	.material-icons
		font-size 36px
.mdl-layout__drawer
	padding 20px 0px
 

