#social-font
	position absolute 
	width 50px 
	right 10px
	top 50px 
	height 253px
	line-height 35px
 
.social 
	text-align center
	height 180px
	padding 10px
	border 1px solid #333
	border-radius 3px

.social a
	color titleColor
	font-size 28px
	&:hover
		color blue