.widgets
    box-sizing border-box
    margin 30px 0px

.widget
    margin 30px 0px
    border 1px solid themecolor
.widget-title
    color themecolor
    font-size 26px
    height 50px
    line-height 50px
    text-align center
    background-color auColor
.widget-cont
    padding 20px
.cont-link
    line-height 1.5
    font-size 16px 
#totop
    position fixed
    bottom 50px
    right 10px 