//Color
titleColor = #333 //#CABBA0 
hoverColor =  #222
auColor = rgb(173,220,220)
themecolor = teal 



//bodywidth
contWidth = 80%
imgWidth = floor(contWidth/4)+1%


//Font

//tagfont
@font-face {
    font-family 'FontAwesome'
    src  url('fonts/FontAwesome.otf'),url('fonts/fontawesome-webfont.svg'),url('fonts/fontawesome-webfont.eot')
}

Font = 'Comic Sans MS', Microsoft YaHei, Verdana, Arial, serif
titleFont = 'Comic Sans MS', Georgia, Microsoft YaHei, Verdana, Arial, serif